.section-info-primary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 24rem;
}
.section-info-primary-img {
  width: 100%;
  width: 38rem;
}
.section-info-primary-left {
  width: 40%;
}
.section-info-primary-left h2 {
  color: #222222;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.2rem;
}
.section-info-primary-left p {
  color: #5E6576;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  margin: 1rem 0;
}
.section-info-primary-left span {
  font-weight: 700;
}
@media (max-width:768px) {
  .section-info-primary-img {
    width: 30rem;
  }
  .section-info-primary-left {
    width: 38%;
  }
  .section-info-primary-left h2 {
    font-size: 3rem;
    line-height: 4.2rem;
  }
  .section-info-primary-left p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin: 1rem 0;
  }
}
@media (max-width:425px) {
  .section-info-primary {
    display: block;
    margin: auto;
    padding-top: 4rem;
  }
  .section-info-primary-img {
    display: block;
    margin: auto;
  }
  .section-info-primary-left {
    width: 90%;
    display: block;
    margin: auto;
  }
  .section-info-primary-left h2 {
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;
    margin: 4rem 0;
  }
  .section-info-primary-left p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    display: block;
    margin: auto;
  }
}